*,::before,::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#main-image{
    width:100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(rgb(152, 125, 238), rgb(255, 249, 205)) 0% 0% / cover repeat;
    padding-left:1rem;
    padding-right:1rem; 
    margin-bottom:1%;
}
#first_part{
    display:flex;
    justify-content:space-between;
    margin:5px;
    
}
.h1_learn-more{
    display:flex;
    align-items:left;
    gap:1rem;

}

h1,h2{
    display:block;
    color:rgb(72,72,72);
    text-align:center;
    font-size:1.75rem;
    display:flex;
    justify-content: space-between;
    margin-bottom:0;
    
}

button{
    color:whitesmoke;
    background-color: red;
    text-align:center;
    border:1px solid red;
    border-radius:0.5rem;
    font-size:2rem;
    padding:0.25em;
    
}

#e10_cartoon_game{
    display:flex;
    justify-content: space-between;
    align-items: right;
    gap:1em;
    
}

.cartoon-violence{
    padding: 0px 0px 1em;
    border-bottom:1px solid rgb(72,72,72);
}
.game-purchase{
    padding:1em 0 0;
}
.main-head{
    font-size: 0.75rem;
    line-height: 1rem;
    
}
#game-cartoon{
    text-decoration: none;
    
}
#c{
    font-size:36px;
}
hr{
    margin:15px;
}

#nintento-store-image{
    display:block;
    margin-left:auto;
    margin-right: auto;
    align-items: center;
    margin-bottom:1%;
}